.cartsumary-con{
    background-color: #fff;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
    margin-left:30px ;
    margin-right: 30px;
    
}
.amount{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.para{
    text-align: start;
    font-size: 19px;
}